# /storage/.htaccess
# Impedir cualquier acceso HTTP directo a la carpeta storage

<IfModule mod_authz_core.c>
    Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
    Order deny,allow
    Deny from all
</IfModule>

# Desactivar la navegación de directorios
Options -Indexes
